﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model AbsentViewModel
@{
    ViewData["Title"] = "Details Data";
}

<h2>Details Data</h2>
<table class="table tab-content">
    <tbody>
        <tr>
            <th>ID</th>
            <td>@Model.Id</td>
        </tr>
        <tr>
            <th>NIK</th>
            <td>@Model.NIK</td>
        </tr>
        <tr>
            <th>Nama Legkap</th>
            <td>@Model.Nama</td>
        </tr>
        <tr>
            <th>Jenis Kelamin</th>
            <td>@Model.JenisKelamin</td>
        </tr>
        <tr>
            <th>Jabatan</th>
            <td>@Model.Jabatan</td>
        </tr>

    </tbody>
</table>
