﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model AbsentViewModel
@{
    ViewData["Title"] = "Edit Absensi";
}

<h2>Edit Absensi</h2>

<form asp-action="Update" method="post">
    <div class="form-group">
        <label asp-for="Id">Id</label>
        <input asp-for="Id" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="NIK">NIK</label>
        <input asp-for="NIK" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Nama">Nama Lengkap</label>
        <input asp-for="Nama" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="JenisKelamin">Jenis Kelamin</label>
        <input asp-for="JenisKelamin" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Jabatan">Jabatan</label>
        <input asp-for="Jabatan" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
