﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Absensi";

}
<div class="text-center">
    <h1 class="display-4">Absensi</h1>
    <p><a asp-action="List">Data Absensi</a>.</p>
</div>