﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model AdminViewModel
@{
    ViewData["Title"] = "Details Admin";
}

<h2>Details Admin</h2>
<table class="table tab-content">
    <tbody>
        <tr>
            <th>ID</th>
            <td>@Model.Id</td>
        </tr>
        <tr>
            <th>Nama Lengkap</th>
            <td>@Model.Nama</td>
        </tr>
        <tr>
            <th>NIK</th>
            <td>@Model.NIK</td>
        </tr>
        <tr>
            <th>Jenis Kelamin</th>
            <td>@Model.JenisKelamin</td>
        </tr>
        <tr>
            <th>Position</th>
            <td>@Model.Position</td>
        </tr>

    </tbody>
</table>
