﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model InventoryViewModel
@{
    ViewData["Title"] = "Details Inventory";
}

<h2>Details Inventory</h2>
<table class="table tab-content">
    <tbody>
        <tr>
            <th>ID</th>
            <td>@Model.Id</td>
        </tr>
        <tr>
            <th>Asset No.</th>
            <td>@Model.NoAsset</td>
        </tr>
        <tr>
            <th>Asset Name</th>
            <td>@Model.AssetName</td>
        </tr>
        <tr>
            <th>Asset Type</th>
            <td>@Model.AssetType</td>
        </tr>
        <tr>
            <th>Serial No</th>
            <td>@Model.SerialNo</td>
        </tr>
        <tr>
            <th>Purchase Year</th>
            <td>@Model.PurchaseYear</td>
        </tr>

    </tbody>
</table>
