﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model InventoryViewModel
@{
    ViewData["Title"] = "Edit Inventory";
}

<h2>Edit Data</h2>

<form asp-action="Update" method="post">
    <div class="form-group">
        <label asp-for="Id">Id</label>
        <input asp-for="Id" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="NoAsset">Asset No.</label>
        <input asp-for="NoAsset" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="AssetName">Asset Name</label>
        <input asp-for="AssetName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="AssetType">Asset Type</label>
        <input asp-for="AssetType" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="SerialNo">Serial No.</label>
        <input asp-for="SerialNo" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="PurchaseYear">Purchase Year</label>
        <input asp-for="PurchaseYear" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
