﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model AuditViewModel
@{
    ViewData["Title"] = "Details Audit";
}

<h2>Details Data</h2>
<table class="table tab-content">
    <tbody>
        <tr>
            <th>ID</th>
            <td>@Model.Id</td>
        </tr>
        <tr>
            <th>Asset No.</th>
            <td>@Model.AssetNo</td>
        </tr>
        <tr>
            <th>Asset Name</th>
            <td>@Model.AssetName</td>
        </tr>
        <tr>
            <th>Asset Type</th>
            <td>@Model.AssetType</td>
        </tr>
        <tr>
            <th>Serial No.</th>
            <td>@Model.SerialNo</td>
        </tr>
        <tr>
            <th>PIC</th>
            <td>@Model.PIC</td>
        </tr>
         <tr>
            <th>Type Windows</th>
            <td>@Model.TypeWindows</td>
        </tr>
        <tr>
            <th>Type Office</th>
            <td>@Model.TypeOffice</td>
        </tr>

    </tbody>
</table>
