﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model AuditViewModel
@{
    ViewData["Title"] = "Edit Audit";
}

<h2>Edit Audit</h2>

<form asp-action="Update" method="post">
    <div class="form-group">
        <label asp-for="Id">Id</label>
        <input asp-for="Id" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="AssetNo">Asset No.</label>
        <input asp-for="AssetNo" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="AssetName">Asset Name</label>
        <input asp-for="AssetName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="AssetType">Asset Type</label>
        <input asp-for="AssetType" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="SerialNo">Serial No.</label>
        <input asp-for="SerialNo" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="PIC">PIC</label>
        <input asp-for="PIC" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="TypeWindows">Type Windows</label>
        <input asp-for="TypeWindows" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="TypeOffice">Type Office</label>
        <input asp-for="TypeOffice" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
