﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Audit";

}
<div class="text-center">
    <h1 class="display-4">Audit</h1>
    <p><a asp-action="List">Data Audit</a>.</p>
</div>