﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<AuditViewModel>
@{
    ViewData["Title"] = "Data Audit";
}

<h2>Data Audit</h2>
<table class="table table-responsive">
    <thead>
        <tr>
            <th>Id</th>
            <th>Asset No.</th>
            <th>Asset Name</th>
            <th>Asset Type</th>
            <th>Serial No.</th>
            <th>PIC</th>
            <th>Type Windows</th>
            <th>Type Office</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.AssetNo</td>
                <td>@item.AssetName</td>
                <td>@item.AssetType</td>
                <td>@item.SerialNo</td>
                <td>@item.PIC</td>
                <td>@item.TypeWindows</td>
                <td>@item.TypeOffice</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-success">View</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="Add" class="btn btn-primary">Add</a>
