﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model UsersViewModel
@{
    ViewData["Title"] = "Details Users";
}

<h2>Details Users</h2>
<table class="table tab-content">
    <tbody>
        <tr>
            <th>ID</th>
            <td>@Model.Id</td>
        </tr>
        <tr>
            <th>Nama</th>
            <td>@Model.Nama</td>
        </tr>
        <tr>
            <th>NIK</th>
            <td>@Model.NIK</td>
        </tr>
        <tr>
            <th>Tempat Lahir</th>
            <td>@Model.TempatLahir</td>
        </tr>
        <tr>
            <th>Job Position</th>
            <td>@Model.JobPosition</td>
        </tr>

    </tbody>
</table>
