﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model UsersViewModel
@{
    ViewData["Title"] = "Edit Users";
}

<h2>Edit Users</h2>

<form asp-action="Update" method="post">
    <div class="form-group">
        <label asp-for="Id">Id</label>
        <input asp-for="Id" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Nama">Nama Lengkap</label>
        <input asp-for="Nama" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="NIK">NIK</label>
        <input asp-for="NIK" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="TempatLahir">Tempat Lahir</label>
        <input asp-for="TempatLahir" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="JobPosition">Job Position</label>
        <input asp-for="JobPosition" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
